<form class="container" method="post" action="/user/ok">
        <label title="Email" class="row">
        <input type="text" name="email" value="" placeholder="email">
    </label>
        <label title="password" class="row">
        <input type="text" name="password" value="" placeholder="password">
    </label>
<label title="name" class="row">
        <input type="text" name="name" value="" placeholder="name">
    </label>
     </label>
<label title="img" class="row">
        <input type="text" name="img" value="" placeholder="img">
    </label>
    <button type="submit" class="btn btn-primary">Submit</button>

    
</form>